.reg__sec {
    background-color: #f3f5f6;
    margin: auto;
    padding-top: 5rem;

}
.register {
    display: flex;
    flex-direction: column;
    width: 35%;
    border: 1px solid var(--color-primary);
    border-radius: .4rem;
    padding: 2rem;
    margin: auto;
    position: relative;
  
    background: #fff;
}

.register input {
    margin-bottom: 1rem;
    height: 2.5rem;
    font-size: .8rem;
    color: gray;
    text-indent: .7rem;
    background-color: #f3f5f6;
    border: 1px solid rgb(223, 220, 220);
}

.btn {
    padding: 1rem;
    background: var(--color-primary);
    color: #fff;
    text-align: center;
    border-radius: .2rem;
    transition: all .5s;
}

.btn:hover {
    opacity: 0.8;
}
.btn:active {
    transform: scale(0.9);
}

label {
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-size: .8rem;
}

.reg__sec h2 {
    margin-bottom: .7rem;
    color: var(--color-variant);
    margin-left: 33%;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 1.3em;

}

.agent__box {
    display: flex;
    align-items: center;
    gap: 1rem;
   
 
}

.agent__box input {
    margin: 0;
}
.agent__box span {
    font-size: 1rem;
}

.other__connect {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.other__connect a {
    padding: .8rem;
    border: 1px solid var(--color-primary);
    border-radius: .2rem;
    color: inherit;
    text-align: center;
}

.other__connect i {
    margin-right: .7rem;
    font-size: 1rem;
}

.register p {
    font-size: .5rem;
    
   color: var(--color-variant);
}

.ahc {
    font-size: .7rem;
}

.error {
  color: rgb(223, 21, 21);
}

.eye {
    position: absolute;
    top: 12.3rem;
    right: 2rem;
    color: gray;
}

@media screen and (max-width:769px) {

    .reg__sec {
        width: 95%;
    }
    .register {
        width: 90%;
    }

    .register input {
        margin-bottom: .8rem;
        height: 2.3rem;
        font-size: .7rem;
        color: gray;
      
    }
    .register label {
        font-size: .7rem;
    }

    .agent__box span {
        font-size: .7rem;
    }

    .other__connect a {
        padding: .8rem;
        color: inherit;
        text-align: center;
        font-size: .7rem;
    }

    .eye {
    
        top: 9.6rem;
        right: 2rem;

    }

    .reg__sec h2 {
      font-size: 1rem;
      margin-left: 1rem;
    }
       
}

@media screen and (max-width:480px) {

    .reg__sec {
        width: 95%;
      
    }
    .register {
        width: 90%;
        padding: 2rem 1.5rem;
    }

    .reg__sec {
        padding-top: 6rem;
        margin-bottom: 1rem;
    }

    .reg__sec h2 {
        margin-left: 7%;
    }

   

  
}

