* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    list-style: none;
 

}

body  {
    font-family: poppins;

}

html {
    scroll-behavior: smooth;
}


